/*. for class and # for id */
:root{
    background-color:antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior:smooth; 
}
#head{
    text-align:center;
}
/* body{
    When styling the back-ground color using linear gradient use 
    background:linear-gradient(direction,color1,color2);
    e.g background:linear-gradient(135deg,orange,blue);
} */
a{
    color:black;
}
a:hover{
    color:rgb(0, 247, 255);
}
a:active{
    color:chocolate;
}
#txt{
    margin-top:10px;
}
table{
    border:3px;
    text-align:center;
}
#headd{
    text-align:left;
}