/*. for class and # for id */
#head{
    text-align:center;
}
body{
    background-color:antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior:smooth;
    /* background:linear-gradient(135deg,rgb(228, 177, 81),rgb(56, 56, 199)); */
}
a{
    color:black;
}
a:hover{
    color:rgb(0, 247, 255);
}
#txt{
    margin-top:10px;
}